.rating
  .rating__item
    .rating__title Степень изношенности
    ul.rating__list
      li.rating__check
        .rating__circle
        span со следами длительного бытования
      li.rating__line
      li.rating__check
        .rating__circle
        span умеренные следы бытования
      li.rating__line
      li.rating__check
        .rating__star
        span незначительные следы бытования
      li.rating__line
      li.rating__check
        .rating__circle
        span новый, не использовался
  .rating__item
    .rating__title Работоспособность
    ul.rating__list
      li.rating__check
        .rating__circle
        span Не работает
      li.rating__line
      li.rating__check
        .rating__star
        span Работает частично
      li.rating__line
      li.rating__check
        .rating__circle
        span Работает полностью