.mobileMenu
  .mobileMenu__close
    +icon('close','mobileMenu__close-icon')
  .mobileMenu__inner
    .mobileMenu__item
      .mobileMenu__top 
        | Кухня
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
    .mobileMenu__item
      .mobileMenu__top 
        | Интерьер и декор
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
    .mobileMenu__item
      .mobileMenu__top 
        | Личное
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
    .mobileMenu__item
      .mobileMenu__top 
        | Печатная продукция
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
    .mobileMenu__item
      .mobileMenu__top 
        | Религия
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
    .mobileMenu__item
      .mobileMenu__top 
        | Часы
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
    .mobileMenu__item
      .mobileMenu__top 
        | Техника
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
    .mobileMenu__item
      .mobileMenu__top 
        | Игрушки
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
    .mobileMenu__item
      .mobileMenu__top 
        | Смотреть всё
        +icon('arrow-mobile-right','mobileMenu__top-icon')
      .mobileMenu__list
        a(href="#").mobileMenu__link
          | Живопись и графика (картины)
        a(href="#").mobileMenu__link
          | Печатная графика (гравюры)
        a(href="#").mobileMenu__link
          | Освещение
        a(href="#").mobileMenu__link
          | Мебель
        a(href="#").mobileMenu__link
          | Текстиль
        a(href="#").mobileMenu__link
          | Скульптурное искусство
        a(href="#").mobileMenu__link
          | Художественное стекло и зеркала
        a(href="#").mobileMenu__link
          | Настенный декор
        a(href="#").mobileMenu__link
          | Хозяйственный обиход
        a(href="#").mobileMenu__link
          | Вазы
  nav.mobileMenu-nav
    a(href="#").mobileMenu-nav__link
      | О нас
    a(href="#").mobileMenu-nav__link
      | Гарантии
    a(href="#").mobileMenu-nav__link
      | Оплата и доставка
    a(href="#").mobileMenu-nav__link
      | Контакты
    a(href="#").mobileMenu-nav__link
        |Статьи
  .mobileMenu__social
    span Написать нам:
    .social
      a(href="#").social__item
        img(src="img/socials/social-tg.svg" alt="telegram")
      a(href="#").social__item
        img(src="img/socials/social-whats.svg" alt="whatsapp")