section.completed
  .container.container--middle
    .completed__inner
      .completed__item
        h1.completed__title Ваш заказ успешно оформлен.
        p.completed__text Спасибо, что выбрали наш магазин!
      .completed__item
        p.completed__text
          | Заказ No 184734,
          br
          | сумма: 5 222 ₽
        p.completed__info
          | Мы свяжемся с Вами по указанному номеру телефона для уточнения способа оплаты и доставки в течение 14 часов
    a(href="/").completed__home 
      | Перейти на главную страницу 
      br
      | и продолжить просмотр