section.requests
  .container
    .requests__wrapper  
      .requests__item
        h1.default__title.requests__title Популярные поисковые запросы в сервировочной посуде
        .requests__inner 
          .requests__col 
            a(href="#") 
              span Сервизы
            a(href="#") 
              span Посуда для приготовления
            a(href="#") 
              span Посуда для сервировки и хранения
            a(href="#") 
              span Посуда для употребления
            a(href="#") 
              span Столовые приборы
            a(href="#") 
              span Кухонная техника
            a(href="#") 
              span Посуда для употребления
            a(href="#") 
              span Столовые приборы
            a(href="#") 
              span Кухонная техника
          .requests__col 
            a(href="#") 
              span Сервизы
            a(href="#") 
              span Посуда для приготовления
            a(href="#") 
              span Посуда для сервировки и хранения
            a(href="#") 
              span Посуда для употребления
          .requests__col 
            a(href="#") 
              span Сервизы
            a(href="#") 
              span Посуда для приготовления
            a(href="#") 
              span Посуда для сервировки и хранения
            a(href="#") 
              span Посуда для употребления
          .requests__col 
            a(href="#") 
              span Сервизы
            a(href="#") 
              span Посуда для приготовления
            a(href="#") 
              span Посуда для сервировки и хранения
            a(href="#") 
              span Посуда для употребления
      .requests__item
        h1.default__title.requests__title Популярные поисковые запросы в сервировочной посуде
        .requests__inner 
          .requests__col 
            a(href="#") 
              span Сервизы
            a(href="#") 
              span Посуда для приготовления
            a(href="#") 
              span Посуда для сервировки и хранения
            a(href="#") 
              span Посуда для употребления
            a(href="#") 
              span Столовые приборы
            a(href="#") 
              span Кухонная техника
            a(href="#") 
              span Посуда для употребления
            a(href="#") 
              span Столовые приборы
            a(href="#") 
              span Кухонная техника
          .requests__col 
            a(href="#") 
              span Сервизы
            a(href="#") 
              span Посуда для приготовления
            a(href="#") 
              span Посуда для сервировки и хранения
            a(href="#") 
              span Посуда для употребления
          .requests__col 
            a(href="#") 
              span Сервизы
            a(href="#") 
              span Посуда для приготовления
            a(href="#") 
              span Посуда для сервировки и хранения
            a(href="#") 
              span Посуда для употребления
          .requests__col 
            a(href="#") 
              span Сервизы
            a(href="#") 
              span Посуда для приготовления
            a(href="#") 
              span Посуда для сервировки и хранения
            a(href="#") 
              span Посуда для употребления
    include ../../../../src/components/pagination/pagination