section.result
  .container
    h1.default__title Поиск по материалу
    .result__inner 
      a(href="#").result__item
        .result__top
          img(data-src="images/material/1.webp" alt="img").lozad
        .result__name Стекло
      a(href="#").result__item
        .result__top
          img(data-src="images/material/2.webp" alt="img").lozad
        .result__name Дерево
      a(href="#").result__item
        .result__top
          img(data-src="images/material/3.webp" alt="img").lozad
        .result__name Ткань
      a(href="#").result__item
        .result__top
          img(data-src="images/material/4.webp" alt="img").lozad
        .result__name Бумага
      a(href="#").result__item
        .result__top
          img(data-src="images/material/5.webp" alt="img").lozad
        .result__name Металл
      a(href="#").result__item
        .result__top
          img(data-src="images/material/6.webp" alt="img").lozad
        .result__name Фарфор
      a(href="#").result__item
        .result__top
          img(data-src="images/material/7.webp" alt="img").lozad
        .result__name Керамика
      a(href="#").result__item
        .result__top
          img(data-src="images/material/8.webp" alt="img").lozad
        .result__name Хрусталь
    .resultCircle
      .resultCircle__inner
        a(href="#").resultCircle__item
          .resultCircle__img
            img(data-src="images/material/small/1.webp" alt="img").lozad
          span Бронзирование
        a(href="#").resultCircle__item
          .resultCircle__img
            img(data-src="images/material/small/2.webp" alt="img").lozad
          span Глазурь
        a(href="#").resultCircle__item
          .resultCircle__img
            img(data-src="images/material/small/3.webp" alt="img").lozad
          span Пластик, краска
        a(href="#").resultCircle__item
          .resultCircle__img
            img(data-src="images/material/small/4.webp" alt="img").lozad
          span Латунь
        a(href="#").resultCircle__item
          .resultCircle__img
            img(data-src="images/material/small/5.webp" alt="img").lozad
          span Гипс, роспись
        a(href="#").resultCircle__item
          .resultCircle__img
            img(data-src="images/material/small/6.webp" alt="img").lozad
          span Стекло, золочение
        a(href="#").resultCircle__item
          .resultCircle__img
            img(data-src="images/material/small/7.webp" alt="img").lozad
          span Поделочный камень
        a(href="#").resultCircle__item
          .resultCircle__img
            img(data-src="images/material/small/8.webp" alt="img").lozad
          span Дерево, металл