.cloud
  .cloud__inner
    a(href="#").cloud__item
      | Винно-ликерные сервизы
    a(href="#").cloud__item
      | Кофейные сервизы
    a(href="#").cloud__item
      | Столовые сервизы
    a(href="#").cloud__item
      | Горшки для запекания
    a(href="#").cloud__item
      | Кастрюли
    a(href="#").cloud__item
      | Кодлеры
    a(href="#").cloud__item
      | Винно-ликерные сервизы
    a(href="#").cloud__item
      | Кофейные сервизы
    a(href="#").cloud__item
      | Столовые сервизы
    a(href="#").cloud__item
      | Горшки для запекания
    a(href="#").cloud__item
      | Кастрюли
    a(href="#").cloud__item
      | Кодлеры
    a(href="#").cloud__all
      | смотреть всё