extends base/pug/main

block variables
  - var title = 'Корзина'
  - var pageClass = 'basket-page'
  - var baseDir = '../static';



block content
  include ../src/components/section/basket/basket
  include ../src/components/section/advantages/advantages-small