extends base/pug/main

append variables
  - var title = 'Карточка товара'
  - var pageClass = 'card-page'
  - var baseDir = '../static';

block content
  include ../src/components/breadcrumbs/breadcrumbs
  include ../src/components/section/card/card
  include ../src/components/section/advantages/advantages
  include ../src/components/section/similar/similar
  include ../src/components/section/selection/selection
 
