extends base/pug/main

block variables
  - var title = 'Заказ оформлен'
  - var pageClass = 'completed-page'
  - var baseDir = '../static';



block content
  include ../src/components/breadcrumbs/breadcrumbs
  include ../src/components/section/completed/completed