extends base/pug/main

block variables
  - var title = 'Популярные запросы'
  - var pageClass = 'requests-page'
  - var baseDir = '../static';



block content
  include ../src/components/breadcrumbs/breadcrumbs
  include ../src/components/section/requests/requests
  include ../src/components/section/articles/articles