section.selection
  .container.container--small
    h1.selection__title.text-center 
      | Подборки товаров в «Сервизы антикварные и винтажные»
    .selection__inner   
      .selection__item
        .selection__top
          img(data-src="images/antique/1.webp" alt="img").lozad
          .like.js-like
            +icon('heart','like__icon')
        a(href="#").selection__body
          | Смотреть антиквариат бренда Meissener Porzellan (Мейсенский фарфор)
      .selection__item
        .selection__top
          img(data-src="images/antique/2.webp" alt="img").lozad
          .like.js-like
            +icon('heart','like__icon')
        a(href="#").selection__body
          | Антикварная посуда для приготовления
      .selection__item
        .selection__top
          img(data-src="images/antique/3.webp" alt="img").lozad
          .like.js-like
            +icon('heart','like__icon')
        a(href="#").selection__body
          | Антикварная посуда для сервировки и хранения
      .selection__item
        .selection__top
          img(data-src="images/antique/4.webp" alt="img").lozad
          .like.js-like
            +icon('heart','like__icon')
        a(href="#").selection__body
          | Антикварная и винтажная посуда для специй
      .selection__item
        .selection__top
          img(data-src="images/antique/5.webp" alt="img").lozad
          .like.js-like
            +icon('heart','like__icon')
        a(href="#").selection__body
          | Смотреть антиквариат бренда Meissener Porzellan (Мейсенский фарфор)
      .selection__item
        .selection__top
          img(data-src="images/antique/6.webp" alt="img").lozad
          .like.js-like
            +icon('heart','like__icon')
        a(href="#").selection__body
          | Антикварная посуда для приготовления
      .selection__item
        .selection__top
          img(data-src="images/antique/7.webp" alt="img").lozad
          .like.js-like
            +icon('heart','like__icon')
        a(href="#").selection__body
          | Антикварная посуда для сервировки и хранения
      .selection__item
        .selection__top
          img(data-src="images/antique/8.webp" alt="img").lozad
          .like.js-like
            +icon('heart','like__icon')
        a(href="#").selection__body
          | Антикварная и винтажная посуда для специй